BOT_TOKEN=your_bot_token_here

DB_HOST=localhost
DB_PORT=5432
DB_NAME=signal_bot_v2
DB_USER=postgres
DB_PASSWORD=your_db_password

REDIS_HOST=localhost
REDIS_PORT=6379

PRIVATE_CHANNEL_ID=-100xxxxxxxxxx
FREE_CHANNEL_LINK=https://t.me/your_free_channel

CARD_NUMBER=8600-xxxx-xxxx-xxxx
CARD_HOLDER=USERNAME

ADMIN_IDS=[123456789]
ADMIN_LINK=@treder7090

SOCIAL_INSTAGRAM=https://instagram.com/example
SOCIAL_TWITTER=https://twitter.com/example
SOCIAL_YOUTUBE=https://youtube.com/@example
SOCIAL_WEBSITE=https://example.com
FREE_CHANNEL_LINK=https://t.me/your_free_channel

BOT_USERNAME=your_bot_username